.text{
    text-align: center;
    width: 50%;
    margin: auto;
}
h1{
    font-weight: 700;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
button{
    padding: 30px 90px;
    background-color: blue;
    color: white;
}
button:hover{
    background-color: green;
}
.p1{
    content: "";
}
.p2{
    content: "";
}
.p3{
    content: "";
}
.p4{
    content: "";
}